{%extends 'base.html'%}
 {% load bootstrap4 %} {% load static %} 
{%block content %}
  <div class= "jumbotron">
    <div class="card">
      
      
      {% if pharmacy %}
      
      <h1>{{ pharmacy.name }}</h1>
      <h3>In {{ pharmacy.area }}</h3>
      
        <img src="{{ pharmacy.image.url }}" />
      </div>
      <h3>Contacts</h3>
      <p>Phone number : {{ pharmacy.phone_number }}</p>
      <p>Email_address : {{ pharmacy.email_address }}</p>
      
    </div>
  
  <div class="container">
    
   
  <div class="column">
     <center><h1>Stock</h1></center><br><br><br>
   
  </div>
  
  {% endif %}
  <div class="col-sm-6">
  {% for med in medicines %}
  <ul>
    
  <li>Name: {{med.name}}</li>
  <p>Category: {{med.med_category}}</p>
  <p>{{med.in_stock}}</p>
  
   
    
   </ul>
 
  {%endfor%}
</div>
</div>

  {%endblock %}
