{%extends 'registration/base.html'%} {% load bootstrap3 %} {% load static %} {%
block content %}
<div class="column">
  <div class="card">
    {% if pharmacy %}
    <h2>Pharmacy name : {{ pharmacy.name }}</h2>
    <p>Around : {{ pharmacy.area }}</p>
    <div
      class="img"
      style="height:200px; width:100px; border-radius:5px; margin-left:15px; margin-right: 15px; margin-bottom: 30px"
    >
      <img src="{{ pharmacy.image.url }}" />
    </div>
    <p>Phone number : {{ pharmacy.phone_number }}</p>
    <p>Email_address : {{ pharmacy.email_address }}</p>
  </div>
</div>
{% endif %}
